---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ProjectCard from "../../components/ProjectCard.astro"
import { getAllProjects } from "../../server/data"
import PageHeader from "../../components/PageHeader.astro"

const projects = await getAllProjects()
---

<BaseLayout
    title="Work"
    description="Browse my portfolio of projects, case studies, and design work."
>
    <section class="mx-auto max-w-7xl px-16 py-60 sm:px-24 lg:px-32">
        <PageHeader
            eyebrow="Case Studies"
            title="Work"
            description="Selected projects and case studies showcasing my design and development work."
        />

        {
            projects && projects.length > 0 ? (
                <div class="grid grid-cols-1 gap-24 md:grid-cols-2 lg:grid-cols-3">
                    {projects.map((project) => (
                        <ProjectCard
                            title={project.title}
                            slug={project.slug}
                            description={project.description}
                            role={project.role}
                            thumbnail={project.thumbnail}
                            thumbnailAlt={project.thumbnailAlt}
                            year={project.year}
                        />
                    ))}
                </div>
            ) : (
                <p class="text-fgColor-secondary">No projects found. Check back soon!</p>
            )
        }
    </section>
</BaseLayout>
