---
import Section from "./ui/Section.astro"
import Card from "./ui/Card.astro"
import Grid from "./ui/Grid.astro"
import Stack from "./ui/Stack.astro"

interface Project {
	title: string
	description: string
	color: string
	link: string
}

const projects: Project[] = [
	{
		title: "Rapor Pendidikan",
		description:
			"A platform that provides comprehensive data and evaluation reports from National Assessment for educational institutions.",
		color: "bg-blue-300",
		link: "https://raporpendidikan.dikdasmen.go.id/login"
	},
	{
		title: "Situs Informasi resmi SIPLah",
		description:
			"Redesigning landing page to increase awareness and drive conversions, establishing it as a trusted hub for reliable information.",
		color: "bg-yellow-300",
		link: "https://siplah.kemdikbud.go.id/"
	},
	{
		title: "Natatoko",
		description:
			"All-in-one Software as a Service (SaaS) solution to manage online store. Take orders, handle products, and analyze business with ease.",
		color: "bg-pink-200",
		link: "https://natatoko.com/"
	}
]
---

<Section title="Selected Work">
	<Stack gap="xl" class="p-6 pr-12">
		<Grid>
			{
				projects.slice(0, 2).map((project) => (
					<Card 
						href={project.link} 
						color={project.color}
						title={project.title}
					>
						<p>{project.description}</p>
					</Card>
				))
			}
		</Grid>

		<Card
			href={projects[2].link}
			color={projects[2].color}
			aspectRatio="aspect-[16/6] md:aspect-[16/5]"
			title={projects[2].title}
		>
			<p>{projects[2].description}</p>
		</Card>
	</Stack>
</Section>
