---
interface Props {
	cols?: number | string
	gap?: string
	class?: string
	[x: string]: any
}

const {
	cols = "grid-cols-1 md:grid-cols-2",
	gap = "gap-8",
	class: className = "",
	...rest
} = Astro.props

// If cols is a number, generate grid-cols-{cols}
const colClasses = typeof cols === "number" ? `grid-cols-${cols}` : cols

const classes = `grid ${colClasses} ${gap} ${className}`
---

<div class={classes} {...rest}>
	<slot />
</div>

